/* Fonts */
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-pen.css");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* Reset & Variables */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/navi-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/anime-component.css";
@import "components/search-bar.css";
@import "components/ad-banner.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/music.css";

* {
  box-sizing: border-box;
}

body {
    font-family: "jua";
    font-size: 20px;
    color: #2e363e; 
    background-color: #FFF5FF;
  }

.main-screen {
    margin-top: 130px;
    padding: 0px var(--horizontal-space);
}