#friends-display-link {
    display: block;
    text-align:center;
    background: #fff0ff;
    margin-top: 105px;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 20px;
  }
  
  #friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
    margin: 0px 10px;
  }

  .friends-screen {
    padding:0px var(--horizontal-space);
  }

  
.friends-screen__channel{
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: var(--column-boundary);
    border-bottom: var(--column-boundary);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}


.friends-screen__channel-header > span{
  font-size: 17px;
}

.friends-screen__friendlist{
  overflow-x: hidden;
  overflow-y:auto;
  padding-right: 5px;

  margin-bottom: 100px;
}
.friends-screen__friendlist::-webkit-scrollbar {
  height: 8px;
  width: 3px;
}
.friends-screen__friendlist::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 5px;
}
.friends-screen__friendlist::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

.friends-screen__friendlist-header{
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    visibility: collapse;
  }
}

#splash-screen{
  background-color: #FFF5FF;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  animation: hideSplashScreen 2s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-friends{
  transition: all 0.5s linear;
  margin-top: 25px;
}

.user-friends:hover{
  border-radius: 15px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  will-change: height;
  height: 75px;
}