.navi {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #ffe1e2;
    border: 7px dashed #6798BD;
}

.navi__list {
    display: flex;
    justify-content: space-between;
}

.navi__link {
    position: relative;
    color: #2e363e;
}

.navi__notification{
    position: absolute;
    left: 15px;
    bottom: 13px;
}

.navi__point{
    background-color: tomato;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    left: 30px;
    bottom: 25px;
}