.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 38px;

    opacity: 0.9;
    background-color: #ffe1e2;
    border: 0px solid var(--theme-color--not-gradient);
    border-bottom-width: 3px;

}
.screen-header__title{
    font-size: 34px;
}

.screen-header__icons span{
    margin-left: 20px;
    text-shadow: var(--icon-shadow);
}